{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <div class="container col-md-2">
        <div class="login-bocx">
            <br><br>
            <div class="login-logo">
                <img class="mb-4" src="{% static 'dist/img/gamemania.jpeg' %}" alt="">
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <h5 class="login-box-msg font-weight-bold">Alteração da Senha</h5>
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="col-12 text-center">
                                <button type="submit" id="id_entrar" class="btn btn-primary btn-block">
                                    <i class="fas fa-key"></i> Alterar</button>
                            </div>
                        </form>
                    {% else %}
                        <p>
                            O link de reset de senha é inválido. Talvez ele já tenha sido usado ou expirado.
                            Por favor, tente iniciar novamente o processo de recuperação de senhas.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
    