{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <div class="container col-md-2">
        <div class="login-box">       
            <img class="mb-4" src="{% static 'dist/img/gamemania.jpeg' %}" alt="">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Digite o e-mail cadastrado no sistema</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-12 text-center">
                        <button type="submit" id="id_entrar" class="btn btn-primary btn-block">
                            <i class="far fa-envelope"></i> Enviar</button>
                    </div>
                </form>
            </div>
            <p class="mt-5 mb-3 text-muted">Powered by Fabio Marcílio &copy  {% now 'Y' %}</p>
        </div>  
    </div>
</div>
{% endblock content%}