{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <div class="container col-md-2">
        <div class="login-bocx">
            <br><br>
            <div class="login-logo">
                <img class="mb-4" src="{% static 'dist/img/gamemania.jpeg' %}" alt="">
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg text-danger">Atenção:</p>
                    <p class="text-blue">
                        Enviamos por e-mail instruções para definir sua senha. Se existir uma conta com o e-mail que você digitou, você deverá recebê-lo em breve.
                    </p>
                    <p class="text-primary">
                        Se você não receber o e-mail, certifique-se de inserir o endereço com o qual se registrou, e verifique sua pasta de spam.
                    </p>
                    <a href="{% url 'core:index' %}" class="btn btn-block btn-primary">
                        <i class="fas fa-arrow-left"></i> Voltar ao site
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}