
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <div class="container col-md-2">
        <div class="login-bocx">
            <br><br>
            <div class="login-logo">
                <img class="mb-4" src="{% static 'dist/img/gamemania.jpeg' %}" alt="">
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg text-danger">Senha Alterada!</p>
                    <p>
                        Sua senha foi alterada. Tente entrar novamente.
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-block btn-warning">
                        <i class="fas fa-user-lock mr-2"></i> Login
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
    