{% extends 'core/index.html' %}
{% load static %}


{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item">
        <a href="{% url 'core:index' %}">
            <i class="fas fa-home"></i>
            Página Inicial
        </a>
    </li>
    <li class="breadcrumb-item active">
        Usuários
    </li>
</ol>
{% endblock breadcrumb %}

{% block body %}
<div class="col-md-12">
    <div class="card card-primary shadow">
        <div class="card-header">
            <h3 class="card-title">Cadastro de Usuário</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.nome.label_tag }}
                            {{ form.nome }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form.cpf.label_tag }}
                            {{ form.cpf }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form.telefone.label_tag }}
                            {{ form.telefone }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form.data_nascimento.label_tag }}
                            {{ form.data_nascimento }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.redes_sociais.label_tag }}
                            {{ form.redes_sociais }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form.cep.label_tag }}
                            {{ form.cep }}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            {{ form.logradouro.label_tag }}
                            {{ form.logradouro }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.bairro.label_tag }}
                            {{ form.bairro }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            {{ form.cidade.label_tag }}
                            {{ form.cidade }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form.uf.label_tag }}
                            {{ form.uf }}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            {{ form.numero.label_tag }}
                            {{ form.numero }}
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-md-2">
                    <div class="form-group">
                        {{ form.foto }}
                    </div>
                </div>{% endcomment %}
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    {% include 'usuarios/list.html' %}
</div>
{% endblock body %}