{% load static %}

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">Usuários Cadastrados</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>Data de nascimento</th>
                            <th>E-mail</th>
                            <th>Redes Sociais</th>
                            <th>CEP</th>
                            <th>Logradouro</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>UF</th>
                            <th>Numero</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.cpf }}</td>
                                <td>{{ usuario.telefone }}</td>
                                <td>{{ usuario.data_nascimento }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.redes_sociais }}</td>
                                <td>{{ usuario.cep }}</td>
                                <td>{{ usuario.logradouro }}</td>
                                <td>{{ usuario.bairro }}</td>
                                <td>{{ usuario.cidade }}</td>
                                <td>{{ usuario.uf }}</td>
                                <td>{{ usuario.numero }}</td>
                                {% comment %} <td>{{ cliente.id }}</td>
                                <td>{{ cliente.loja|retornar_prefixo_loja }}</td>
                                <td>{{ cliente.nome|slice:":45" }}</td>
                                {% if cliente.tipo_pessoa == 'PESSOA_FISICA' %}
                                    <td class="cpf">
                                        {{ cliente.pessoa_fisica.cpf }}
                                    </td>
                                {% else %}
                                    <td class="cnpj">
                                        {{ cliente.pessoa_juridica.cnpj }}
                                    </td>
                                {% endif %}
                                <td>{{ cliente.retornar_telefone_principal|default_if_none:"" }}</td>
                                <td>{{ cliente.retornar_email_principal|default_if_none:"" }}</td>
                                <td>
                                    {% if cliente.alterado_em %}
                                        {{ cliente.alterado_em|date:"d/m/Y" }}
                                    {% else %}
                                        {{ cliente.criado_em|date:"d/m/Y" }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cliente.alterado_por_usuario %}
                                        {{ cliente.alterado_por_usuario|retornar_nome_usuario }}
                                    {% else %}
                                        {{ cliente.criado_por_usuario|retornar_nome_usuario }}
                                    {% endif %}
                                </td>
                                <td> {% endcomment %}
                                    {% comment %} <a href="{% url 'cm110_clientes:pessoa_update' cliente.id %}">Editar | </a>
                                    {% if user.is_authenticated and user.loja_logada.uuid|stringformat:"s" == cliente.loja|stringformat:"s" %}
                                        <a aria-hidden="true" data-placement="top" data-target="#modal_delete{{ cliente.id }}"
                                            data-toggle="modal" href="#modal_delete{{ cliente.id }}" title="Excluir">
                                            Excluir
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% url 'cm110_clientes:delete' cliente.id as url_delete %}
                            {% include 'base/modal_delete.html' with modal_id=cliente.id modal_form_method="POST" modal_form_action=url_delete %} {% endcomment %}
                        {% endfor %}
                    </tbody>
                    {% comment %} <tbody>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-success">Approved</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>219</td>
                            <td>Alexander Pierce</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-warning">Pending</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>657</td>
                            <td>Bob Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-primary">Approved</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>175</td>
                            <td>Mike Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-danger">Denied</span></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                    </tbody> {% endcomment %}
                </table>
            </div>
            <!-- /.card-body -->
        </div>
      <!-- /.card -->
    </div>
</div>