{% extends 'base/base.html' %}
{% load static %}

{% block content %}
{% if user.is_anonymous %}
    {% include 'registration/login.html' %}
{% else %}
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar -->
            {% include 'core/navbar.html' %}
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="{% url 'core:index' %}" class="brand-link">
                    <img  class='logo' src="{% static 'img/gamemania.jpeg' %}" alt="Imagem"/>
                </a>
                <!-- Sidebar -->
                {% include 'core/sidebar.html' %}
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            {% block breadcrumb %}
                            {% endblock breadcrumb %}
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                        </div>
                    </div>
                </div>
                {% block body %}
                {% endblock body %}
            </div>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
                </div>
            </aside>
            <!-- /.control-sidebar -->

            <!--Mensagens-->
            {% comment %}
                Cria uma mensagem com o plugin toastr, passando o conteúdo de
                'message.tags' como o tipo do toast e de 'message' como o texto
            {% endcomment %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.level_tag == 'success' or message.level_tag == 'info' or message.level_tag == 'warning' or message.level_tag == 'error' %}
                        <script type=text/javascript>
                            toastr.{{ message.level_tag }}('{{ message }}', '{{ message.extra_tags|default_if_none:"" }}')
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!--/Mensagens-->

            <!-- Main Footer -->
            {% include 'core/footer.html' %}
        </div>
        
        {% block extra_javascript %}
        <script src="{% static 'dist/js/gamemania.js' %}"></script>
        {% endblock extra_javascript %}
    </body>
{% endif %}
{% endblock content %}