{% load static %}

<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Usuário</a>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a class="nav-link active" href="#">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Usuários
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'usuario:form' %}">
                            <i class="far fa-address-book nav-icon"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a class="nav-link active" href="#">
                    <i class="nav-icon fas fa-box-open"></i>
                    <p>
                        Itens
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="far fa-address-book nav-icon"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="far fa-list-alt nav-icon"></i>
                            <p>Lista de itens</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a class="nav-link active" href="#">
                    <i class="nav-icon fas fa-gamepad"></i>
                    <p>
                        Coleções
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fas fa-gamepad nav-icon"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="far fa-list-alt nav-icon"></i>
                            <p>Lista de coleções</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>