{% extends 'base/base_htmx.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">Coleções Cadastradas</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="table first-fixed last-fixed">
                <div class="card-body table-responsive p-0">
                    <div class="table-scroll">
                        <table class="table table-hover text-nowrap table-mobile">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                    <th>data_inicio</th>
                                    <th>valor_estimado</th>
                                    <th>foto</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for colecao in colecoes %}
                                    <tr>
                                        <td>{{ colecao.id }}</td>
                                        <td>{{ colecao.nome }}</td>
                                        <td>{{ colecao.descricao }}</td>
                                        <td>{{ colecao.data_inicio }}</td>
                                        <td>{{ colecao.valor_estimado }}</td>
                                        <td>{{ colecao.foto }}</td>
                                        <td>
                                            <a hx-trigger="click"
                                                href="#"
                                                hx-get="{% url 'colecao:update' colecao.id %}"
                                                hx-target="#container-colecao-dados"
                                                hx-swap="innerHTML">
                                                Editar | 
                                            </a>
                                            <a hx-trigger="confirmado"
                                                href="#"
                                                hx-delete="{% url 'colecao:delete' colecao.id %}"
                                                hx-target="#container-colecao-list"
                                                hx-swap="innerHTML"
                                                _="on click
                                                call showDeleteConfirmationWindow(event)
                                                if 
                                                result.value trigger confirmado">
                                                Excluir
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include 'colecoes/pagination.html' %}
    </div>
</div>
{% endblock content %}