{% extends 'base/base_htmx.html' %}
{% load static %}

{% block head_extra %}
    {% comment %} <link href="{% static 'dist/css/foto.css' %}" rel="stylesheet"> {% endcomment %}
{% endblock head_extra %}

{% block content %}
<div class="card card-info shadow">
    <div class="card-header">
        <h3 class="card-title">Adicionar itens na coleção {{ colecao }}</h3>
    </div>
    <form method="POST"
        id="form_colecao_dados"
        {% if colecao_id %}
            action="{% url 'colecao:update' colecao_id %}"
        {% else %}
            action="{% url 'colecao:create' %}"
        {% endif %}
        hx-target="#container-colecao-dados"
        enctype="multipart/form-data"
        hx-swap="innerHTML">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                {% comment %} <div class="col-md-1">
                    {{ form.foto }}
                    <div class="widget-user-image">
                        <img id="img-foto"
                            alt="Colecao"
                            class="img-fluid elevation-2 foto-colecao 
                                btn btn-light form-control foto-header"
                            style="width: 90px; height: 90px; padding: 0px;"
                            {% if colecao.foto %} 
                                src="{{ colecao.foto.url }}"
                            {% else %}
                                src="{% static 'dist/img/sem-foto.gif' %}" 
                            {% endif %}
                        >
                    </div>
                </div> {% endcomment %}
                <div class="col-md-1">
                    {{ form.foto }}
                    <div class="widget-user-image">
                        <img id="img-foto"
                            alt="ItemColecao"
                            class="img-fluid elevation-2 foto-itemColecao 
                                btn btn-light form-control foto-header"
                            style="width: 90px; height: 90px; padding: 0px;"
                            {% if colecao.foto %} 
                                src="{{ item_colecao.foto.url }}"
                            {% else %}
                                src="{% static 'dist/img/sem-foto.gif' %}" 
                            {% endif %}
                        >
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form.item.label_tag }}
                        {{ form.item }}
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.data_compra.label_tag }}
                        {{ form.data_compra }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.valor_pago.label_tag }}
                        {{ form.valor_pago }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.valor_venda.label_tag }}
                        {{ form.valor_venda }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        {{ form.estado_item.label_tag }}
                        {{ form.estado_item }}
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="form-group">
                        {{ form.disponivel_venda.label_tag }}
                        {{ form.disponivel_venda }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
                {% comment %} <div class="card-footer">
                    <button class="btn btn-warning" hx-trigger="click"
                        href="#"
                        hx-get="{% url 'colecao:adicionar_itens' %}"
                        hx-vals='{"colecao_id": "{{ colecao_id }}"}'
                        hx-target="#container-colecao-list"
                        hx-swap="innerHTML"
                        {% if not colecao_id %}
                            disabled
                        {% endif %}
                        >Adicionar itens
                    </button>
                </div> {% endcomment %}
            </div>
        </div>
    </form>
</div>
<script src="{% static 'dist/js/itemcolecao.js' %}"></script>
<script src="{% static 'dist/js/foto.js' %}"></script>
{% endblock content %}