{% extends 'base/base_htmx.html' %}
{% load static %}

{% block head_extra %}
    {% comment %} <link href="{% static 'dist/css/foto.css' %}" rel="stylesheet"> {% endcomment %}
{% endblock head_extra %}

{% block content %}
<div class="card card-primary shadow">
    <div class="card-header">
        <h3 class="card-title">Cadastro de Coleções</h3>
    </div>
    <form method="POST"
        id="form_colecao_dados"
        {% if colecao_id %}
            action="{% url 'colecao:update' colecao_id %}"
        {% else %}
            action="{% url 'colecao:create' %}"
        {% endif %}
        hx-target="#container-colecao-dados"
        enctype="multipart/form-data"
        hx-swap="innerHTML">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    {{ form.foto }}
                    <div class="widget-user-image">
                        <img id="img-foto"
                            alt="Colecao"
                            class="img-fluid elevation-2 foto-colecao 
                                btn btn-light form-control foto-header"
                            style="width: 90px; height: 90px; padding: 0px;"
                            {% if colecao.foto %} 
                                src="{{ colecao.foto.url }}"
                            {% else %}
                                src="{% static 'dist/img/sem-foto.gif' %}" 
                            {% endif %}
                        >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form.nome.label_tag }}
                        {{ form.nome }}
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.data_inicio.label_tag }}
                        {{ form.data_inicio }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.valor_estimado.label_tag }}
                        {{ form.valor_estimado }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.descricao.label_tag }}
                        {{ form.descricao }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group ">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check mr-1"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'colecao:form' %}">
                            <button type="button" class="btn btn-info"
                            {% if not colecao_id %}
                                disabled
                            {% endif %}
                            >
                                <i class="fas fa-arrow-left mr-1"></i>
                                Voltar
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'dist/js/colecao.js' %}"></script>
<script src="{% static 'dist/js/foto.js' %}"></script>
{% endblock content %}