{% extends 'base/base_htmx.html' %}
{% load static %}

{% block content %}
<div class="card card-primary shadow">
    <div class="card-header">
        <h3 class="card-title">Cadastro de Usuário</h3>
    </div>
    <form method="POST"
        id="form_pessoa_dados"
        {% if pessoa_id %}
            action="{% url 'pessoa:update' pessoa_id %}"
        {% else %}
            action="{% url 'pessoa:create' %}"
        {% endif %}
        hx-target="#container-pessoa-dados"
        enctype="multipart/form-data"
        hx-swap="innerHTML">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    {{ form.foto }}
                    <div class="widget-user-image">
                        <img id="img-foto"
                            alt="Pessoa"
                            class="img-fluid elevation-2 foto-pessoa 
                                btn btn-light form-control foto-header"
                            style="width: 90px; height: 90px; padding: 0px;"
                            {% if pessoa.foto %} 
                                src="{{ pessoa.foto.url }}"
                            {% else %}
                                src="{% static 'dist/img/sem-foto.gif' %}" 
                            {% endif %}
                        >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form.nome.label_tag }}
                        {{ form.nome }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.cpf.label_tag }}
                        {{ form.cpf }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.telefone.label_tag }}
                        {{ form.telefone }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.redes_sociais.label_tag }}
                        {{ form.redes_sociais }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.data_nascimento.label_tag }}
                        {{ form.data_nascimento }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.cep.label_tag }}
                        {{ form.cep }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form.logradouro.label_tag }}
                        {{ form.logradouro }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.bairro.label_tag }}
                        {{ form.bairro }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        {{ form.cidade.label_tag }}
                        {{ form.cidade }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.uf.label_tag }}
                        {{ form.uf }}
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        {{ form.numero.label_tag }}
                        {{ form.numero }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery mask-->
<script src="{% static 'dist/js/jquery.mask.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/pessoa.js' %}"></script>
<script src="{% static 'dist/js/cep.js' %}"></script>
<script src="{% static 'dist/js/foto.js' %}"></script>
{% endblock content %}