{% extends 'base/base_htmx.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="card-title">Usuários Cadastrados</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="table first-fixed last-fixed">
                <div class="card-body table-responsive p-0">
                    <div class="table-scroll">
                        <table class="table table-hover text-nowrap table-mobile">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Telefone</th>
                                    <th>Data de nascimento</th>
                                    <th>E-mail</th>
                                    <th>Redes Sociais</th>
                                    <th>CEP</th>
                                    <th>Logradouro</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>UF</th>
                                    <th>Numero</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td>{{ usuario.id }}</td>
                                        <td>{{ usuario.nome }}</td>
                                        <td>{{ usuario.cpf }}</td>
                                        <td>{{ usuario.telefone }}</td>
                                        <td>{{ usuario.data_nascimento }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.redes_sociais }}</td>
                                        <td>{{ usuario.cep }}</td>
                                        <td>{{ usuario.logradouro }}</td>
                                        <td>{{ usuario.bairro }}</td>
                                        <td>{{ usuario.cidade }}</td>
                                        <td>{{ usuario.uf }}</td>
                                        <td>{{ usuario.numero }}</td>
                                        <td>
                                            <a href="{% url 'usuario:update' %}">Editar | </a>
                                            <a hx-trigger="confirmado"
                                            href="#"
                                            hx-delete="{% url 'usuario:delete' usuario.id %}"
                                            hx-target="#container-usuario-list"
                                            hx-swap="innerHTML"
                                            _="on click
                                            call showDeleteConfirmationWindow(event)
                                            if 
                                            result.value trigger confirmado">
                                            Excluir
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/pagination.html' %}
    </div>
</div>
{% endblock content %}